<div>
	<p><b>Scrum</b> es un marco de trabajo para desarrollo ágil de software que se ha expandido a otras industrias.</p>
	
	<p><b>La metodología se basa en</b><br>
		El desarrollo incremental de los requisitos del proyecto en bloques temporales cortos y fijos. <br>
		Se da prioridad a lo que tiene más valor para el cliente. <br>
		El equipo se sincroniza diariamente y se realizan las adaptaciones necesarias. <br>
		Tras cada interación (un mes o menos entre cada una) se muestra al cliente el resultado real. <br>
		Se le da autoridad necesaria al equipo para poder cumplir los requisitos. <br>
		Fijar tiempos máximos para lograr objetivos. <br>
		Equipos pequeños (de 3 a 9 personas cada uno).</p>
</div>