<!-- <p class="text-center text-muted">Aqui va el footer</p> -->

<div class="container-footer">
    <div>
        <p class="textCurso">Cursos de Programacion UI</p>
        <p class="textSede">Sede Olavarria</p>
    </div>
    <div class="divIzq">
        <p class="textOlavarria">Olavarria</p>
        <p class="fechaFooter">04/10/2023</p>
    </div>
</div>