<nav class="navbar navbar-expand-lg navbar-light  justify-content-between" 
style="background-color: #dbe5f1; border-style: solid; border-width: 1px; padding: 0px 10px 0px 10px;">
  <a class="navbar-brand fw-bold" href="/">Curso Programación</a>
  <ul class="navbar-nav mr-auto" style="flex-direction:row;">
    <li class="nav-item" style="padding-right: 10px;">
      <a class="nav-link" href="/">Nuestras Tareas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">Acerca de...</a>
    </li>
  </ul>
</nav>
