<div>
    <div style="border: 1px solid;">
        <h3>Alumnos Participantes</h3>
        <div style="display: flex;">
            Kevin Frias
            Lucas Fava
            Franco Serjen 
            Juan Bautista Andreu
            Bernardo Lopez
            Gonzalo Colman
            Ruben Torres
        </div>
    </div>
</div>