<div class="div-panelizq">
    <h5>Alumnos</h5>
    <h5>Participantes</h5>
    <p>Kevin Frias</p>
    <p>Lucas Fava</p>
    <p>Franco Serjen</p>
    <p>Juan Bautista Andreu</p>
    <p>Bernardo Lopez</p>
    <p>Gonzalo Colman</p>
    <p>Ruben Torres</p>
</div>