<div>
    <div style="border: 1px solid;">
        <h4>Alumnos Participantes</h4>
        <ul style="list-style-type: none;">
            <li>Kevin Frias</li>
            <li>Lucas Fava</li>
            <li>Franco Serjen </li>
            <li>Juan Bautista Andreu</li>
            <li>Bernardo Lopez</li>
            <li>Gonzalo Colman</li>
            <li>Ruben Torres</li>
        </ul>
    </div>
</div>
</div>