<div class="div-panelder">
    <h5>Alumnos</h5>
    <h5>Oyentes</h5>
    <p>Bruno Alba</p>
    <p>Ayelen Porqueres</p>
    <p>Mario Lindner</p>
    <p>Lorena Planes</p>
    <p>Ariel Romera</p>
    <p>Luna Cristofaneli</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
    <p>...</p>
</div>