<div class="tabla">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Ejecutor</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>T1</td>
          <td>Kevin Frías</td>
          <td>Finalizada</td>
        </tr>
        <tr>
          <td>T2</td>
          <td>Lucas Fava</td>
          <td>Finalizada</td>
        </tr>
        <tr>
          <td>T3</td>
          <td>Bernardo López</td>
          <td>Pendiente</td>
        </tr>
      </tbody>
    </table>
  
    
  <div class="retrospectiva">
    <p>Retrospectiva: Barco</p>
  </div>
  
  </div>