<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="acercaDe">
            <p style="font-weight: bold;">Roles Principales</p>
            <p>Product Owner</p>
            <p>Scrum Master (o Facilitador)</p>
            <p>Desarrollador/a</p>
            <br>
            <p style="font-weight: bold;">Roles Auxiliares</p>
            <p>Stakeholders (Clientes, Proveedores, Vendedores, etc)</p>
        </div>
        <div class="flujoTrabajo">
            <p style="font-weight: bold;">Flujo De Trabajo</p>
            <p>Planificacion del Sprint</p>
            <p>Scrum Diario</p>
            <p>Revision del Sprint</p>
            <p>Retrospectiva del Sprint</p>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>